[run]
branch = True
source = gocept.country

[report]
precision = 2
omit = */interfaces.py
       */interfaces/*
       */tests.py
       */tests/*
       src/gocept/__init__.py

[html]
directory = test-report
