include *.rst
include *.txt

include .coveragerc
exclude .coveragerc

include pytest.ini
exclude pytest.ini

include MANIFEST.in
exclude MANIFEST.in

recursive-include src *.txt
recursive-include src *.zcml
